<header id="top">
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img class="logoms" src="https://i.postimg.cc/L69ZWptk/minist-logo-mini.jpg"><br>Bienvenido a la Farmacia del <span class="icon">MS!</span></a>
        </div>
    </nav>
</header>