<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
    <img src="https://i.postimg.cc/SK5Q1bH1/error-404.png" alt="error" class="img-fluid" style="max-width: 90%;">
    <a href="/" class="btn btn-dark mt-3">Volver a Home</a>
</div>